{% extends "base.html" %} {% block content %} {% load static %}
<section class="content">
    <div class="header">
        <img src="{% static 'img/twitter.png' %}" alt=""
        style="width:60px" />
    
    <h3>Home</h3>
    </div>
    <section class="post_form">
        <form action="/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Your Name" required>
            <input name="body" placeholder="What's Happening?" required/>
            <input type="file" name="image" id="file"/>
            
            <input type="submit" value="Tweet" id="btn" />
            
        </form>
        
    </section>
    <section class="posts">
    <ul>
        {% for post in posts %}
        <li>
        <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" />
        <div class="menu">
           <a href="/delete/{{ post.id }}/">Delete</a> <br>
           <a href="/edit/{{ post.id }}/">Edit</a>
        </div>  
        
        <div class="logo">
          <img src="{% static 'img/user.png' %}" />    
        </div>
        <div class="name_body">
          <div class="name">{{ post.name }}</div>
          <div class="datetime">{{ post.created_at }}</div>
          <p>{{ post.body }}</p>
          {% if post.image.url %}
          <img src="{{post.image.url}}" style="width: 250px; height: 200px"  />
          <div>
            {% endif %}
            <a style="text-decoration: none;" href="likes/{{ post.id }}">
                <img src="{% static 'img/heart.png' %}" style="width: 30px">
            </a>
            {{post.likecount}}
          </div>
        <!-- <a href=" /delete/{{ post.id}}/">delete</a> -->
        </div>
        
        </li>
        {% endfor %}
    </ul>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>
{% endblock %}